/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Variables */

:root {
  --brand-color: #846aff;
  --brand-shade: #775fe6;

  --dark: #121214;

  --gray-10: #7c7c8a;
  --gray-20: #eaeaea;
  --gray-30: #eeeeff;
  --gray-40: #f8f8ff;

  --white: #ffffff;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;

  color: var(--dark);
}

/* Utility classes and reusable components */

.container {
  width: 121.6rem;

  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 4.8rem;
  flex: 1;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

/*****************/
/* HERO SECTION */
/***************/

/* Hero layout */

.section-hero {
  padding: 5rem 0;

  background-color: var(--gray-40);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hero content styles */

/* hero-text-box */

.hero-text-box {
  width: 58.1rem;
  height: 28.1rem;
}

.hero-heading {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;

  margin-bottom: 3.2rem;
}

.hero-heading span {
  color: var(--brand-color);
}

.hero-description {
  width: 55rem;
  height: 7.2rem;

  font-size: 2.4rem;
  line-height: 1.6;

  margin-bottom: 4.8rem;
}

.hero-btn:link,
.hero-btn:visited {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.7;

  padding: 1.4rem 3.2rem;
  border-radius: 4px;

  transition: all 0.3s;

  color: var(--white);
  background-color: var(--brand-color);
}

.hero-btn:hover,
.hero-btn:active {
  background-color: var(--brand-shade);
}

/* hero-img-box */

.hero-img {
  height: auto;
}

/*********************/
/* ARTICLES SECTION */
/*******************/

/* Section Article Layout */

.section-articles {
  padding: 8rem 0;
}

/* Section Article Content Styles */

.article-heading {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.17;

  margin-bottom: 11.3rem;
}

/* Card Layout */

.article-card {
  width: 38.4rem;
  height: 35.7rem;

  border: 2px solid var(--gray-30);
  border-radius: 0.6rem;

  box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);

  cursor: pointer;
  overflow: hidden;
}

/* Card Content Styles */

.article-img {
  width: 100%;
  height: auto;
}

.article-text-box {
  margin: 3.2rem 2.4rem;
  text-align: left;
}

.card-heading {
  width: 33.6rem;
  height: 5.2rem;

  font-size: 2rem;
  font-weight: 600;
  line-height: 26px;

  margin-bottom: 1.2rem;
}

.card-description {
  width: 33.6rem;
  height: 5.4rem;

  font-size: 1.8rem;
  line-height: 27px;
}

/* ! */
.last-box .card-heading {
  margin-bottom: 1.2rem; /* Add margin-bottom for spacing in the last card */
}

/*****************/
/* FORM SECTION */
/***************/

/* Form Layout */

.section-form {
  padding: 8rem 0;

  background-color: var(--gray-40);
}

.form-container {
  width: 59.2rem;

  text-align: center;

  margin: 0 auto;
}

.contact-form {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-input-group {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  margin-bottom: 4rem;
}

/* Form Content Styles */

.form-heading {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.17px;

  margin-bottom: 4.8rem;
}

.form-text-input,
.form-textarea-input {
  width: 59.2rem;

  font-family: "Roboto", sans-serif;
  text-align: left;

  padding: 1.6rem 2.4rem;
  border: 1px solid var(--gray-20);
  border-radius: 4px;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);

  cursor: pointer;

  color: var(--gray-10);
}

.form-text-input {
  height: 5.9rem;
}

.form-textarea-input {
  height: 15rem;
}

.form-text-input::placeholder,
.form-textarea-input::placeholder {
  font-size: 1.8rem;
  line-height: 21.09px;
}

.form-btn {
  width: 100%;

  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;

  line-height: 1.17;

  padding: 1.4rem 3.2rem;
  border: none;
  border-radius: 8px;

  transition: all 0.3s;

  cursor: pointer;

  color: var(--white);
  background-color: var(--brand-color);
}

.form-btn:hover {
  background-color: var(--brand-shade);
}
